<div class="row">
  <div class="span5 well">
    <div class="row">
      <div class="span2 user-detail">
        <img src="/assets/users/<%= user.get("username") %>.jpg" width="50px">
      </div>
      <div class="span2 user-detail">
        <%= user.fullname() %>
      </div>
      <div class="span2">
        <button type="button" class="friend-button btn btn-xs">
          <%= user.get("friended") ? "unfriend" : "friend" %>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modal-<%= user.get("id") %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <a href="#/user/<%= user.get("id") %>" class="user-profile"><%= user.fullname() %></a>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="span2">
            <img src="/assets/users/<%= user.get("username") %>.jpg">
          </div>
          <div>
            <div class="span5 well">
              <div class="row">
                <div class="span2 info-title">details</div>
                <div>Age <%= user.age() %>, <%= user.escape("gender") %></div>
              </div>

              <div class="row">
                <div class="span2 info-title">birthday</div>
                <div><%= user.birthDate() %></div>
              </div>

              <div class="row">
                <div class="span2 info-title">activity</div>
                <div>Joined in <%= user.joinDate() %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="friend-button btn btn-xs" data-dismiss="modal">
          <%= user.get("friended") ? "unfriend" : "friend" %>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
