<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modal-review-edit-<%= text.get("id") %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Edit Your Review
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="span1">
            <a href="#/text/<%= text.get("id") %>">
              <img src="/assets/texts/<%= text.get("id") %>.jpg" width="60px">
            </a>
          </div>
          <div class="span5 well">
            <div class="row">
              <div class="span5 text-detail">
                <a href="#/text/<%= text.get("id") %>">
                  <%= text.escape("title") %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="span5">
                Author:
                <% var i = 1; authorList = text.authorList(); %>
                <% authorList.forEach(function(author) { %>
                  <a href="#/author/<%= author.id %>">
                    <span><%= author.name %></span>
                  </a><%= (i < authorList.length ? ", " : "") %>
                  <% i++; %>
                <% }); %>
              </div>
            </div>
            <div class="row">
              <div class="span5">
                <% if(text.get("rated?")) { %>
                  Avg. Rating: <%= text.get("average_rating") %>
                <% } else { %>
                  Not Rated
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            Rating:
          </div>
          <div class="span5" id="rating-<%= text.get("id") %>">
          </div>
        </div>

        <div class="row">
          <div class="span7">
            What did you think?<br>
            <form action="#" id="review-<%= text.get("id") %>">
              <input type="hidden" id="review-title-<%= text.get("id") %>" value="<%= review.get("title") %>">
              <textarea name="review" id="review-body-<%= text.get("id") %>" class="review-text" rows="7"><%= review.get("body") %></textarea>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn=default review-save">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
