<div class="row">
  <div class="span8">
    <h1><a href="#/texts">Books</a> > <a href="#/<%= Backbone.history.fragment %>"><%= text.get("title") %></a></h1>
  </div>
</div>
<div class="row">
  <div class="span3">
    <div class="row">
      <div class="span3">
        <img src="/assets/texts/<%= text.get("id") %>.jpg" width="90%">
      </div>
      <div class="row">
        <div class="span3">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="imurchie" data-lang="en" data-text="Check out the page about <%= text.get("title") %>" data-url="<%= document.URL %>">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
  <div class="span8">
    <div class="row">
      <h1><%= text.get("title") %></h1>
    </div>
    <div class="row">
      by
        <% var i = 1; authorList = text.authorList(); %>
        <% authorList.forEach(function(author) { %>
          <a href="#/author/<%= author.id %>">
            <span><%= author.name %></span>
          </a><%= (i < authorList.length ? ", " : "") %>
          <% i++; %>
        <% }); %>
    </div>
    <div class="row well text-description">
      <div id="text-description-short">
        <%= text.shortDescription() %>
        <a href="#" id="text-description-more">more</a>
      </div>
      <div class="hide" id="text-description-long">
        <%= text.fullDescription() %>
        <a href="#" id="text-description-less">less</a>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="text-tabs">
  <li class="active">
    <a data-toggle="tab" id="reviews">Reviews</a>
  </li>
  <li><a data-toggle="tab" id="comments">Comments</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="text-reviews"></div>
  <div class="tab-pane" id="text-comments"></div>
</div>
