<div class="row">
  <div class="span3">
    <img src="/assets/texts/<%= text.get("id") %>.jpg">
  </div>
  <div class="span5">
    <div class="row">
      <h1><%= text.get("title") %></h1>
    </div>
    <div class="row">
      by
        <% var i = 1; authorList = text.authorList(); %>
        <% authorList.forEach(function(author) { %>
          <a href="#/author/<%= author.id %>">
            <span><%= author.name %></span>
          </a><%= (i < authorList.length ? ", " : "") %>
          <% i++; %>
        <% }); %>
    </div>
    <div class="row well">
      <div id="text-description-short">
        <%= text.shortDescription() %>
        <a href="#" id="text-description-more">more</a>
      </div>
      <div class="hide" id="text-description-long">
        <%= text.fullDescription() %>
        <a href="#" id="text-description-less">less</a>
      </div>
    </div>
  </div>
</div>
