
<div class="row well">
  <div class="span2">
    <a href="#/text/<%= text.get("id") %>">
      <img src="/assets/texts/<%= text.get("id") %>.jpg" width="60px">
    </a>
  </div>
  <div class="span7">
    <div class="row">
      <div class="span11 text-detail">
        <a href="#/text/<%= text.get("id") %>">
          <%= text.escape("title") %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="span7">
        Author:
        <% var i = 1; authorList = text.authorList(); %>
        <% authorList.forEach(function(author) { %>
          <a href="#/author/<%= author.id %>">
            <span><%= author.name %></span>
          </a><%= (i < authorList.length ? ", " : "") %>
          <% i++; %>
        <% }); %>
      </div>
    </div>

    <% if(GooderReads.isLoggedIn()) { %>
      <div class="row">
        <div class="span7"
          <div class="dropdown">
            <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <%= text.stateString() %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#" data-state="queue">Want to read</a>
              </li>
              <li>
                <a href="#" data-state="read">Read</a>
              </li>
              <li>
                <a href="#" data-state="current">Currently reading</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>
